
/* 下面是老的css，仅在regSuccess页面使用，之后可以删去的。今天2018-12-24 */
div.entry-form {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: 20px auto;
	padding: 0 30px;
}
div.entry-form>form {
	margin-top: 50px;
}
div.entry-form>form>input, 
div.entry-form>form>button,
div.entry-form>form>span,
div.entry-form>form>div {
	margin-top: 20px;
}
div.entry-form>form>span {
	display: block;
	color: red;
	padding: 1px 15px;
}
div.entry-form>form>span.info {
	color: green;
}
div.entry-form>form>header {
	display: flex;
	margin: 0;
	align-items: center;
	justify-content: center;
	position: relative;
}
div.entry-form>form>header>img {
	position: absolute;
	left: 0;
}
div.entry-form>form>header>span {
	font-size: x-large;
	display: inline-block;
	margin-left: 20px;
}

/* tab css */
.tab {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
.tab>div:first-child {
  display: flex;
  flex: 1 1 auto;
}
.tab>div:last-child {
  display: flex;
  align-items: center;
}
.tab>div:last-child, .tab>div:last-child>div {
  display: flex;
  align-items: center;
}
.tab>div:last-child>div {
  flex-direction: column;
}
.tab>div>div {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.tab>div>div>div {
  position: relative;
}
.tab>div>div>div>u {
  position: absolute;
  right: -1.2rem;
  top: 0rem;
  font-size: 0.7em;
  background-color: red;
  display: flex;
  align-items: center;
  color: white;
  min-width: 1rem;
  padding: 0 3px;
  height: 1.0rem;
  text-decoration: none;
  justify-content: center;
  border-radius: 0.6rem;
}
.tab>div>div>div>u.dot {
  width: 0.5rem;
  height: 0.5rem;
  min-width: 0.5rem;
  right: -0.8rem;
}

/* form css */
.border-gray {
  border-color: #cccccc !important;
}
.form-row-checkbox {
  margin-left: -10px;
  width: 2em;
  text-align: left;
}
.form-row-checkbox input {
  height: 1.1em;
  width: 1.1em;
}
.form-row-edit {
  margin-right: -10px;
  width: 2em;
  text-align: right;
}
.cursor-pointer {
  cursor: pointer;
}
.row-selected label {
  font-weight: bold;
}
.required-item {
  border-color: #007bff;
}
.deleted, .deleted label, .deleted input {
  text-decoration: line-through rgb(255, 127, 127);
  color: gray;
}
.w-1c {
  width: 1em;
}
.w-min-1c {
  min-width: 1em;
}
.w-max-1c {
  max-width: 1em;
}
.w-2c {
  width: 2em;
}
.w-min-2c {
  min-width: 2em;
}
.w-max-2c {
  max-width: 2em;
}
.w-4c {
  width: 4rem !important;
}
.w-min-4c {
  min-width: 4em;
}
.w-max-4c {
  max-width: 4em;
}
.w-6c {
  width: 6em;
}
.w-min-6c {
  min-width: 6em;
}
.w-max-6c {
  max-width: 6em;
}
.w-8c {
  width: 8em;
}
.w-min-8c {
  min-width: 8em;
}
.w-max-8c {
  max-width: 8em;
}
.form-inline label.form-check-inline {
  display: inline-flex;
  vertical-align: middle;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.form-check-inline {
  justify-content: center;
  align-content: center;
}
.form-radio-inline {
  display: inline-flex;
  align-items: center;
  padding-top: 0.375em;
  padding-bottom: 0.375em;
  padding-right: 0.75em;
  margin-bottom: 0;
  height: calc(2.25rem + 2px);
  line-height: 1.5;
}
span.form-radio-inline {
  padding-left: 0.75em;
  vertical-align: middle;
}
.form-check-inline input, .form-radio-inline input {
  height: 1.2em;
  width: 2em;
  vertical-align: middle;
}
fieldset.edit-container {
  display: block;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-block-start: 0;
  padding-inline-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  min-inline-size: min-content;
}
